<ModalDialog
  {id}
  {label}
  {title}
  background="var(--main-bg)"
  on:show="onShow()"
>
  <div class="wrapper" on:click|capture="onClick(event)">
    <ComposeBox {realm} autoFocus={true} dialogId={id} />
  </div>
</ModalDialog>
<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    flex: 1;
    overflow: hidden;
  }
</style>
<script>
  import ModalDialog from './ModalDialog.html'
  import ComposeBox from '../../compose/ComposeBox.html'
  import { on, emit } from '../../../_utils/eventBus.ts'
  import { show } from '../helpers/showDialog.js'
  import { close } from '../helpers/closeDialog.js'

  export default {
    oncreate () {
      on('postedStatus', this, this.onPostedStatus)
    },
    data: () => ({
      title: undefined,
      realm: 'dialog'
    }),
    methods: {
      show,
      close,
      onPostedStatus (realm) {
        if (realm !== this.get().realm) {
          return
        }
        this.close()
      },
      onShow () {
        emit('resizeComposeInput', this.get().realm)
      },
      onClick (event) {
        if (event.target.closest('a')) {
          this.close()
        }
      }
    },
    components: {
      ModalDialog,
      ComposeBox
    }
  }
</script>
