<ModalDialog
  {id}
  {label}
  {title}
  shrinkWidthToFit={true}
  background="var(--main-bg)"
>
  <GenericDialogList selectable={true} {items} on:click="onClick(event)" />
</ModalDialog>
<script>
  import ModalDialog from './ModalDialog.html'
  import { store } from '../../../_store/store.js'
  import { KNOWN_CONTENT_TYPES } from '../../../_static/statuses.js'
  import GenericDialogList from './GenericDialogList.html'
  import { show } from '../helpers/showDialog.js'
  import { close } from '../helpers/closeDialog.js'
  import { oncreate } from '../helpers/onCreateDialog.js'

  export default {
    oncreate,
    components: {
      ModalDialog,
      GenericDialogList
    },
    store: () => store,
    data: () => ({
      contentTypes: KNOWN_CONTENT_TYPES
    }),
    methods: {
      show,
      close,
      onClick (item) {
        const { realm } = this.get()
        this.store.setComposeData(realm, { contentType: item.key === "default" ? null : item.key })
        this.close()
      }
    },
    computed: {
      composeData: ({ $currentComposeData, realm }) => $currentComposeData[realm] || {},
      contentType: ({ composeData }) => {
        return composeData.contentType
      },
      allowedContentTypes: ({ contentTypes, $currentPostTypes }) => {
        return Object.keys(contentTypes).filter(e => e == "default" || $currentPostTypes.includes(e))
      },
      items: ({ contentType, contentTypes, allowedContentTypes }) => {
        return allowedContentTypes.map(e => ({ ...contentTypes[e], key: e, selected: e === contentType || (e === "default" && !allowedContentTypes.includes(e)) }))
      }
    }
  }
</script>
