<ModalDialog
  {id}
  {label}
  {title}
  shrinkWidthToFit={true}
  background="var(--main-bg)"
>
  <GenericDialogList selectable={true} {items} on:click="onClick(event)" />
</ModalDialog>
<style>
  :global(.generic-dialog-list-item[data-key='local_only']) {
    border-top: 3px solid var(--settings-list-item-border);
  }
</style>
<script>
  import ModalDialog from './ModalDialog.html'
  import { store } from '../../../_store/store.js'
  import { POST_PRIVACY_OPTIONS } from '../../../_static/statuses.js'
  import { setPostPrivacy } from '../../../_actions/postPrivacy.js'
  import GenericDialogList from './GenericDialogList.html'
  import { show } from '../helpers/showDialog.js'
  import { close } from '../helpers/closeDialog.js'

  export default {
    components: {
      ModalDialog,
      GenericDialogList
    },
    store: () => store,
    data: () => ({
      postPrivacyOptions: POST_PRIVACY_OPTIONS
    }),
    methods: {
      show,
      close,
      onClick (item) {
        const { realm, localOnly } = this.get()
        if (item.key === 'local_only') {
          store.setComposeData(realm, { localOnly: !localOnly })
        } else {
          setPostPrivacy(realm, item.key)
          this.close()
        }
      }
    },
    computed: {
      composeData: ({ $currentComposeData, realm }) => $currentComposeData[realm] || {},
      postPrivacy: ({ postPrivacyKey }) => {
        return POST_PRIVACY_OPTIONS.find(_ => _.key === postPrivacyKey)
      },
      postPrivacyKey: ({ composeData, $currentVerifyCredentials }) => {
        return composeData.postPrivacy || $currentVerifyCredentials.source.privacy || 'public'
      },
      localOnly: ({ composeData }) => {
        return composeData.localOnly
      },
      items: ({ postPrivacy, postPrivacyOptions, $currentSupportedToggles, localOnly }) => {
        const items = postPrivacyOptions.map(option => ({
          key: option.key,
          label: option.label,
          icon: option.icon,
          selected: postPrivacy.key === option.key
        }))
        if ($currentSupportedToggles && $currentSupportedToggles.local_only) {
          items.push({
            label: 'intl.localOnly',
            key: 'local_only',
            icon: '#fa-home',
            selected: localOnly
          })
        }
        return items
      }
    }
  }
</script>
