.DS_Store
/node_modules
/__sapper__
/mastodon
/mastodon.log
/src/template.html
/static/.well-known
/static/*.css
/static/icons.svg
/static/inline-script.js.map
/static/emoji-*.json
/static/manifest.json
/static/TwemojiCountryFlags.woff2
/static/icons/icon-192.png
/static/icons/icon-512.png
/static/icons/icon-192-maskable.png
/static/icons/icon-512-maskable.png
/static/icons/apple-touch-icon.png
/static/icons/icon-192-alt.png
/static/icons/icon-512-alt.png
/static/icons/icon-192-maskable-alt.png
/static/icons/icon-512-maskable-alt.png
/static/icons/apple-touch-icon-alt.png
/src/inline-script/checksum.js
/src/routes/_thirdparty/lodash/objects.js
/src/routes/_thirdparty/lodash/timers.js

.now
.vercel
/webpack/*.cjs
