@use "sass:color";

:root {
  $deemphasized-color: #666;

  --button-primary-bg: #{$main-theme-color};
  --button-primary-text: #{$secondary-text-color};
  --button-primary-border: #{color.adjust($main-theme-color, $lightness: -10%)};
  --button-primary-bg-active: #{color.adjust($main-theme-color, $lightness: 9%)};
  --button-primary-bg-hover: #{color.adjust($main-theme-color, $lightness: 5%)};

  --button-bg: #{color.adjust($main-bg-color, $lightness: -10%)};
  --button-text: #{$main-text-color};
  --button-border: #{color.adjust($border-color, $lightness: -20%)};
  --button-bg-active: #{color.adjust($main-bg-color, $lightness: -25%)};
  --button-bg-hover: #{color.adjust($main-bg-color, $lightness: -5%)};

  --input-border: #{$border-color};
  --input-border-radius-size: 4px;
  --input-bg: #{$main-bg-color};
  --input-placeholder-color: #{$deemphasized-color};
  --anchor-text: #{$anchor-color};
  --main-bg: #{$main-bg-color};
  --body-bg: #{$body-bg-color};
  --body-text-color: #{$main-text-color};
  --main-border: #{$border-color};
  --svg-fill: #{$main-theme-color};

  --form-bg: #{color.adjust($main-bg-color, $lightness: -3%)};
  --form-border: #{color.adjust($border-color, $lightness: -10%)};

  --nav-bg: #{$main-theme-color};
  --nav-active-bg: #{color.adjust($main-theme-color, $lightness: 3%)};
  --nav-border: #{color.adjust($main-theme-color, $lightness: -10%)};
  --nav-a-selected-bg: #{color.adjust($main-theme-color, $lightness: 3%)};
  --nav-a-selected-active-bg: var(--nav-a-selected-bg-hover);
  --nav-a-selected-bg-hover: #{color.adjust($main-theme-color, $lightness: 4.5%)};
  --nav-svg-fill: #{$secondary-text-color};
  --nav-text-color: #{$secondary-text-color};
  --nav-indicator-bg-active: #{color.mix($secondary-text-color, $main-theme-color, 90%)};

  --nav-a-selected-border-hover: #{$secondary-text-color};
  --nav-a-bg-hover: #{color.adjust($main-theme-color, $lightness: 1.5%)};
  --nav-svg-fill-hover: #{$secondary-text-color};
  --nav-text-color-hover: #{$secondary-text-color};

  --action-button-fill-color: #{color.adjust($main-theme-color, $lightness: 11.5%)};
  --action-button-fill-color-hover: #{color.adjust($main-theme-color, $lightness: 6%)};
  --action-button-fill-color-active: #{$main-theme-color};
  --action-button-fill-color-pressed: #{color.adjust(color.adjust($main-theme-color, $saturation: 5%), $lightness: -6%)};
  --action-button-fill-color-pressed-hover: #{color.adjust(color.adjust($main-theme-color, $saturation: 5%), $lightness: -12%)};
  --action-button-fill-color-pressed-active: #{color.adjust(color.adjust($main-theme-color, $saturation: 5%), $lightness: -15%)};

  --action-button-deemphasized-fill-color: #{$deemphasized-color};
  --action-button-deemphasized-fill-color-hover: #{color.adjust($deemphasized-color, $lightness: 22%)};
  --action-button-deemphasized-fill-color-active: #{color.adjust($deemphasized-color, $lightness: 5%)};
  --action-button-deemphasized-fill-color-pressed: #{color.adjust($deemphasized-color, $lightness: -7%)};
  --action-button-deemphasized-fill-color-pressed-hover: #{color.adjust($deemphasized-color, $lightness: -2%)};
  --action-button-deemphasized-fill-color-pressed-active: #{color.adjust($deemphasized-color, $lightness: -15%)};

  --settings-list-item-bg: #{$main-bg-color};
  --settings-list-item-text: #{$main-theme-color};
  --settings-list-item-text-hover: #{$main-theme-color};
  --settings-list-item-border: #{$border-color};
  --settings-list-item-bg-active: #{color.adjust($main-bg-color, $lightness: -10%)};
  --settings-list-item-bg-hover: #{color.adjust($main-bg-color, $lightness: -2%)};
  --logs-table-border: #{color.adjust($border-color, $lightness: -10%)};

  --toast-bg: #{$toast-bg};
  --toast-border: #{$toast-border};
  --toast-text: #{$secondary-text-color};
  --toast-button-hover: #{color.adjust($toast-bg, $lightness: 5%)};
  --toast-button-active: #{color.adjust($toast-bg, $lightness: 10%)};
  --toast-anchor-color: #{color.adjust($anchor-color, $lightness: 20%)};

  --mask-bg: #{$toast-bg};
  --mask-svg-fill: #{$secondary-text-color};
  --mask-opaque-bg: #{rgba($toast-bg, 0.8)};
  --loading-bg: #{#ededed};

  --account-profile-bg: #{rgba($main-bg-color, 0.85)};

  --deemphasized-text-color: #{$deemphasized-color};
  --focus-outline: #{$focus-outline};

  --very-deemphasized-text-color: #757575;
  --very-deemphasized-link-color: var(--very-deemphasized-text-color);

  --status-direct-background: #{color.adjust($body-bg-color, $lightness: -5%)};
  --main-theme-color: #{$main-theme-color};
  --warning-color: #{#e01f19};
  --alt-input-bg: #{rgba($main-bg-color, 0.9)};

  --muted-modal-text: #{$secondary-text-color};
  --muted-modal-bg: #{transparent};
  --muted-modal-focus: #{#999};
  --muted-modal-hover: #{rgba(255, 255, 255, 0.2)};

  --compose-autosuggest-item-hover: #{$compose-background};
  --compose-autosuggest-item-active: #{color.adjust($compose-background, $lightness: -5%)};
  --compose-autosuggest-outline: #{color.adjust($focus-outline, $lightness: 5%)};

  --compose-button-halo: #{rgba(255, 255, 255, 0.1)};

  --file-drop-mask: #{rgba(255, 255, 255, 0.8)};

  --banner-fill: #{$main-theme-color};

  --tab-bg: #{$main-bg-color};
  --tab-bg-non-selected: #{color.adjust($main-bg-color, $lightness: -3%)};
  --tab-bg-active: #{color.adjust($main-bg-color, $lightness: -25%)};
  --tab-bg-hover: #{color.adjust($main-bg-color, $lightness: -2%)};
  --tab-bg-hover-non-selected: #{color.adjust($main-bg-color, $lightness: -5%)};

  --tooltip-bg: rgba(30, 30, 30, 0.9);
  --tooltip-color: white;

  --floating-button-bg: #{rgba($main-bg-color, 0.8)};
  --floating-button-bg-hover: #{color.adjust(rgba($main-bg-color, 0.9), $lightness: -5%)};
  --floating-button-bg-active: #{color.adjust(rgba($main-bg-color, 0.9), $lightness: -10%)};

  --length-indicator-color: #{$main-theme-color};

  --audio-bg: #{rgba(30, 30, 30, 0.8)};

  --focal-img-bg: #{rgba($main-bg-color, 0.3)};
  --focal-bg: #{rgba($toast-bg, 0.8)};
  --focal-bg-drag: #{rgba($toast-bg, 0.9)};
  --focal-bg-hover: #{color.adjust(rgba($toast-bg, 0.8), $lightness: 5%)};
  --focal-color: #{$secondary-text-color};

  --blurhash-sensitive-text-color: #{color.adjust($deemphasized-color, $lightness: 40%)};

  --focus-bg: #{rgba(0, 0, 0, 0.1)};

  --verified-text-color: #00703C;
  --verified-bg-color: #E1EFE8;

  --quote-border: #{$border-color};

  accent-color: #{$main-theme-color};
  color-scheme: light;
}
