@use "sass:color";

:root {
  $deemphasized-color: color.adjust($main-bg-color, $lightness: 54%);

  --button-bg: #{color.adjust($main-bg-color, $lightness: 6%)};
  --button-text: #{$main-text-color};
  --button-border: #{color.adjust($border-color, $lightness: 6%)};
  --button-bg-active: #{color.adjust($main-bg-color, $lightness: 0%)};
  --button-bg-hover: #{color.adjust($main-bg-color, $lightness: 3%)};

  --input-placeholder-color: #{$deemphasized-color};

  --action-button-deemphasized-fill-color: #{$deemphasized-color};
  --action-button-deemphasized-fill-color-hover: #{color.adjust($deemphasized-color, $lightness: 22%)};
  --action-button-deemphasized-fill-color-active: #{color.adjust($deemphasized-color, $lightness: 5%)};
  --action-button-deemphasized-fill-color-pressed: #{color.adjust($deemphasized-color, $lightness: -7%)};
  --action-button-deemphasized-fill-color-pressed-hover: #{color.adjust($deemphasized-color, $lightness: -2%)};
  --action-button-deemphasized-fill-color-pressed-active: #{color.adjust($deemphasized-color, $lightness: -15%)};

  --loading-bg: #{#222};

  --deemphasized-text-color: #{$deemphasized-color};

  --very-deemphasized-text-color: #{color.adjust($main-bg-color, $lightness: 44%)};
  --very-deemphasized-link-color: var(--very-deemphasized-text-color);

  --status-direct-background: #{color.adjust($body-bg-color, $lightness: -5%)};
  --main-theme-color: #{$main-theme-color};
  --warning-color: #{#c7423d};
  --alt-input-bg: #{rgba($main-bg-color, 0.9)};

  --muted-modal-bg: #{transparent};
  --muted-modal-focus: #{#999};
  --muted-modal-hover: #{rgba(255, 255, 255, 0.2)};

  --compose-button-halo: #{rgba(0, 0, 0, 0.1)};

  --compose-autosuggest-item-hover: #{color.adjust($main-bg-color, $lightness: 10%)};
  --compose-autosuggest-item-active: #{color.adjust($main-bg-color, $lightness: 15%)};
  --compose-autosuggest-outline: #{color.adjust($border-color, $lightness: 20%)};

  --file-drop-mask: #{rgba(30, 30, 30, 0.8)};

  --settings-list-item-text: #{$main-text-color};
  --settings-list-item-text-hover: #{$main-text-color};
  --settings-list-item-bg-active: #{color.adjust($main-bg-color, $lightness: 7%)};
  --settings-list-item-bg-hover: #{color.adjust($main-bg-color, $lightness: 3%)};
  --logs-table-border: #{color.adjust($border-color, $lightness: 10%)};

  --banner-fill: #{color.adjust($main-theme-color, $lightness: 10%)};

  --tab-bg: #{$main-bg-color};
  --tab-bg-non-selected: #{color.adjust($main-bg-color, $lightness: -2%)};
  --tab-bg-active: #{color.adjust($main-bg-color, $lightness: 15%)};
  --tab-bg-hover: #{color.adjust($main-bg-color, $lightness: 1%)};
  --tab-bg-hover-non-selected: #{color.adjust($main-bg-color, $lightness: -1%)};

  --toast-anchor-color: #{$anchor-color};

  --length-indicator-color: var(--action-button-fill-color);

  --blurhash-sensitive-text-color: #{color.adjust($deemphasized-color, $lightness: 15%)};

  --focus-bg: #{rgba(255, 255, 255, 0.1)};

  --verified-text-color: #1CA665;
  --verified-bg-color: #172B29;
  --verified-border-color: #104c34;

  --quote-border: var(--body-bg);

  color-scheme: dark;
}
