:root {
  $nav-base-color: mix($body-bg-color, $main-theme-color, 90%);
  --nav-bg: #{lighten($nav-base-color, 5%)};
  --nav-a-bg-hover: #{lighten($nav-base-color, 10%)};
  --nav-active-bg: #{lighten($nav-base-color, 15%)};
  --nav-a-selected-bg: #{lighten($nav-base-color, 15%)};
  --nav-a-selected-bg-hover: #{lighten($nav-base-color, 20%)};
  --nav-a-selected-active-bg: #{lighten($nav-base-color, 25%)};

  --button-primary-bg: #{darken($main-theme-color, 5%)};
}
