@use "sass:color";

:root {
  $nav-base-color: color.mix($body-bg-color, $main-theme-color, 90%);
  --nav-bg: #{color.adjust($nav-base-color, $lightness: 5%)};
  --nav-a-bg-hover: #{color.adjust($nav-base-color, $lightness: 10%)};
  --nav-active-bg: #{color.adjust($nav-base-color, $lightness: 15%)};
  --nav-a-selected-bg: #{color.adjust($nav-base-color, $lightness: 15%)};
  --nav-a-selected-bg-hover: #{color.adjust($nav-base-color, $lightness: 20%)};
  --nav-a-selected-active-bg: #{color.adjust($nav-base-color, $lightness: 25%)};

  --button-primary-bg: #{color.adjust($main-theme-color, $lightness: -5%)};
}
