@use "sass:color";

$main-theme-color: #444;
$main-bg-color: #202020;
$body-bg-color: color.adjust($main-bg-color, $lightness: -5%);
$anchor-color: #999;
$main-text-color: #FFF;
$border-color: color.adjust($body-bg-color, $lightness: 10%);
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: color.adjust($main-theme-color, $lightness: 50%);
$compose-background: color.adjust($main-theme-color, $lightness: 52%);

@import "./_base.scss";
@import "./_dark.scss";
@import "./_dark_navbar.scss";
@import "./_dark_scrollbars.scss";

:root {
  // like base.scss, but with $anchor-color instead of $main-theme-color
  --action-button-fill-color: #{color.adjust($anchor-color, $lightness: 18%)};
  --action-button-fill-color-hover: #{color.adjust($anchor-color, $lightness: 22%)};
  --action-button-fill-color-active: #{color.adjust($anchor-color, $lightness: 5%)};
  --action-button-fill-color-pressed: #{color.adjust($anchor-color, $lightness: -7%)};
  --action-button-fill-color-pressed-hover: #{color.adjust($anchor-color, $lightness: -2%)};
  --action-button-fill-color-pressed-active: #{color.adjust($anchor-color, $lightness: -15%)};

  --nav-indicator-bg: #{$main-theme-color}; // special override on the nav indicator color
}

.theme-preview {
  filter: var(--theme-preview-filter,none);
}
