@use "sass:color";

$main-theme-color: #4aaa2f;
//$main-theme-color: #4ab92f;
$main-bg-color: #282828;
$body-bg-color: color.adjust($main-bg-color, $lightness: -5%);
$anchor-color: $main-theme-color;
$main-text-color: #FFF;
$border-color: color.adjust($body-bg-color, $lightness: 10%);
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: color.adjust($main-theme-color, $lightness: 50%);
$compose-background: color.adjust($main-theme-color, $lightness: 52%);

@import "./_base.scss";
@import "./_dark.scss";
@import "./_dark_navbar.scss";
@import "./_dark_scrollbars.scss";

:root {
  --nav-indicator-bg-active: #{color.mix($secondary-text-color, $main-theme-color, 60%)}; // special override on the nav indicator color
}
