@use "sass:color";

$main-theme-color: #5263af;
$body-bg-color: #0f1427;
$main-bg-color: #212433;
$anchor-color: color.adjust($main-theme-color, $lightness: 20%);
$main-text-color: #fafaff;
$border-color: color.adjust($main-bg-color, $lightness: 16%);
$secondary-text-color: #f6f6ff;
$toast-border: $main-theme-color;
$toast-bg: color.adjust($body-bg-color, $lightness: 4%);
$focus-outline: color.adjust($main-theme-color, $lightness: -10%);
$compose-background: color.adjust($main-theme-color, $lightness: -12%);

@import "./_base.scss";
@import "./_dark.scss";
@import "./_dark_scrollbars.scss";

:root {
    --action-button-fill-color-pressed: #{color.adjust(color.adjust($main-theme-color, $saturation: 25%), $lightness: 8%)};
    --action-button-fill-color-pressed-hover: #{color.adjust(color.adjust($main-theme-color, $saturation: 25%), $lightness: 12%)};
    --action-button-fill-color-pressed-active: #{color.adjust(color.adjust($main-theme-color, $saturation: 25%), $lightness: 15%)};
}
