@use "sass:color";

$main-theme-color: #000;
$body-bg-color: #000;
$main-bg-color: #000;
$anchor-color: color.adjust($main-theme-color, $lightness: 90%);
$main-text-color: #fafaff;
$border-color: #222;
$secondary-text-color: #f6f6ff;
$toast-border: color.adjust($body-bg-color, $lightness: 4%);
$toast-bg: color.adjust($body-bg-color, $lightness: 4%);
$focus-outline: color.adjust($main-theme-color, $lightness: 50%);
$compose-background: color.adjust($main-theme-color, $lightness: -12%);

@import "./_base.scss";
@import "./_dark.scss";
@import "./_dark_scrollbars.scss";

:root {
  --settings-list-item-text: #{$anchor-color};
  --settings-list-item-text-hover: #{$anchor-color};
  --settings-list-item-bg-active: #{color.adjust($body-bg-color, $lightness: -10%)};
  --settings-list-item-bg-hover: #{color.adjust($body-bg-color, $lightness: -2%)};

  --button-primary-bg: #{color.adjust($body-bg-color, $lightness: 10%)};
  --button-primary-border: #{$border-color};
  --button-primary-bg-hover: #{color.adjust($body-bg-color, $lightness: 15%)};
  --button-primary-bg-active: #{color.adjust($body-bg-color, $lightness: 15%)};

  --button-bg: #{color.adjust($body-bg-color, $lightness: 10%)};
  --button-border: #{$border-color};
  --button-bg-hover: #{color.adjust($body-bg-color, $lightness: 15%)};
  --button-bg-active: #{color.adjust($body-bg-color, $lightness: 15%)};

  --form-bg: #{$body-bg-color};
  --form-border: #{color.adjust($border-color, $lightness: -10%)};

  --action-button-fill-color: #{color.adjust($main-theme-color, $lightness: 50%)};
  --action-button-fill-color-hover: #{color.adjust($main-theme-color, $lightness: 60%)};
  --action-button-fill-color-active: #{color.adjust($main-theme-color, $lightness: -70%)};
  --action-button-fill-color-pressed: #{color.adjust($main-theme-color, $lightness: 85%)};
  --action-button-fill-color-pressed-hover: #{color.adjust($main-theme-color, $lightness: 100%)};
  --action-button-fill-color-pressed-active: #{color.adjust($main-theme-color, $lightness: 80%)};

  --svg-fill: #{color.adjust($main-theme-color, $lightness: 50%)};

  --quote-border: #{$border-color};
}
