@use "sass:color";

$main-theme-color: #ae91e8;
//$main-theme-color: #8686CB;
$main-bg-color: #28252E;
$body-bg-color: color.adjust($main-bg-color, $lightness: -5%);
$anchor-color: $main-theme-color;
$main-text-color: #FFF;
$border-color: color.adjust($body-bg-color, $lightness: 10%);
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: color.adjust($main-theme-color, $lightness: 50%);
$compose-background: color.adjust($main-theme-color, $lightness: 52%);

// override scrollbar color to make it a bit darker
$scrollbar-face: #{color.adjust($main-theme-color, $lightness: 3%)};

@import "./_base.scss";
@import "./_dark.scss";
@import "./_dark_navbar.scss";
@import "./_dark_scrollbars.scss";

:root {
  accent-color: #{color.adjust($main-theme-color, $lightness: -12%)};

  --button-primary-bg: #{$main-theme-color};
  --button-primary-text: #141414;
  --nav-indicator-bg-active: #{color.mix($secondary-text-color, $main-theme-color, 40%)}; // special override on the nav indicator color
}
