@use "sass:color";

$main-theme-color: #e95a12;
$body-bg-color: color.adjust($main-theme-color, $lightness: 40%);
$anchor-color: $main-theme-color;
$main-text-color: #333;
$border-color: #dadada;
$main-bg-color: white;
$secondary-text-color: white;
$toast-border: #fafafa;
$toast-bg: #333;
$focus-outline: color.adjust($main-theme-color, $lightness: 30%);
$compose-background: color.adjust($main-theme-color, $lightness: 32%);

@import "./_base.scss";
@import "./_light_scrollbars.scss";
